.product-container {
  padding: 0 50px;
  background: #fff;
}
.product-card {
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
}

.product-content {
  padding: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  height: 100px;
  color: #111;
}

.product-button {
  border-radius: 24px;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 14px;
  background: #fff !important;
  border: 1px solid #919191;
}
.product-button:hover {
  color: #40a9ff !important;
  border-color: #40a9ff !important;
}

.product-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.product-image img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}